.flex-column{
    display:flex;
    flex-direction: start;
}

    .navbar{
        background: #a53f00;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
}
.navbar-brand{
    padding: 25 rem;

  